<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Descriçao</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td>{{ tarefa.tarefaId }}</td>
        <td>{{ tarefa.titule}}</td>
        <td>{{ tarefa.descricao }}</td>
        <td>{{ tarefa.categoria?.nome }}</td>
        <th>Ações</th>
        <td>
            <button class="edit" (click)="delete(tarefa.tarefaId)">
                <i> Alterar Status </i>
              </button>

        </td>
      </tr>
    </tbody>
  </table>
  